<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="inputFolder" value="C:\Users\KiruMarimuthu\source\repos\BradyApplication\Brady.Console\Input"/>
		<add key="outputFolder" value="C:\Users\KiruMarimuthu\source\repos\BradyApplication\Brady.Console\Output"/>
		<add key="referenceData" value="C:\Users\KiruMarimuthu\source\repos\BradyApplication\Brady.Console\ReferenceData.xml"/>
	</appSettings>
</configuration>